@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.plus-sign {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all .4s ease;
  &:hover {
    fill: darkgreen;
  }
}
.minus-sign {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all .4s ease;
  &:hover {
    fill: tomato;
  }
}
.app {
  height: 100vh;
  max-height: 100vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}
.header {
  height: $header-height;
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  background-color: #9DC3FD;
  font-size: 2.4em;
  &__title {
    flex-grow: 1;
    text-align: center;
  }
  &__links {
    a {
      font-size: 16px;
      margin-left: 15px;
      text-decoration: none;
      padding: 10px;
      border: 2px solid black;
      color: black;
      background-color: #fff;
      &.selected {
        background-color: tomato;
        border-color: black;
      }
    }
  }
}
.main {
  margin-top: $header-height;
  padding-top: 20px;
  flex-grow: 1;
  padding-bottom: 100px;
}
.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.app {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.start-form {
  display: flex;
  padding-bottom: 30px;
  max-width: 1100px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-basis: 100%;
  input {
    padding: 10px 5px;
    font-size: 1.2em;
    border: none;
    outline: none;
    border: 1px solid darkolivegreen;
    border-radius: 5px;
  }
  input:placeholder-shown {
    border: 1px solid tomato;
  }
  &__attribute {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:first-child {
      margin-left: 30px;
      margin-top: 99px;
    }
    .minus-sign {
      margin-right: 5px;
    }
  }
  &__attributes {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  &__values {
    display: flex;
    flex: 1;
    .plus-sign {
      margin-left: 15px;
    }
  }
  &__value-col {
    padding: 0 5px;
    &:first-child {
      margin-top: 30px;
    }
  }
  &__value-header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    .minus-sign{
      margin-bottom: 5px;
    } 
  }
  &__value-body {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 15px;
    }
  }
}

.attr-rest {
  font-size: 1.4em;
  margin-left: 30px;
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  &__title {
    margin-bottom: 15px;
    flex-basis: 100%;
  }
  &__attribute {
    margin: 0 10px 10px 0;
    p {
      font-size: 0.8em;
      margin-bottom: 5px;
    }
    input {
      padding: 7px;
      border: 1px solid darkolivegreen;
      border-radius: 5px;
    }
  }

}
.prod-rest {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  .plus-sign {
    margin-top: 10px;
    align-self: center;
  }
  .prod-rest__restriction-box {
    display: flex;
    margin-top: 10px;
    .minus-sign {
      align-self: center;
    }
    select, input {
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}

.button-box {
  flex-basis: 100%;
  display: flex;
  margin-top: 30px;
}
.main-button {
  font-size: 1.2em;
  border: 1px solid darkolivegreen;
  border-radius: 7px;
  padding: 15px;
  outline: none;
  cursor: pointer;
}

.result {
  font-size: 1.4em;
  margin-top: 15px;
  &__body {
    margin-top: 10px;
  }
  &__list {
    margin-top: 10px;
    list-style: none;
  }
}